body
{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: antiquewhite;
    overflow-x: hidden;
}

.header
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 16px 0;
    padding-bottom: 0px;
    background-color: antiquewhite;
}

.burger
{
    display: none;
}

.logo
{
    height: 100px;
}

#desktop_logo
{
    display: block;
}

#mobile_logo
{
    display: none;
}

.website_nav
{
    display: flex;
    align-items: center ;
    justify-content: center;
}

.nav_item
{
    font-size: 25px;
    width: 120px;
    text-align: center;
    font-weight: bold;
    color: black;
    transition: all 0.2s linear;
}

.nav_item:hover, .nav_item .selected
{
    color:  rgb(225, 110, 56);
}

a:link, a:visited
{
    color: black;
}

.content
{
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
}

.content h1, h2
{
    margin: 4px;
}

.album_cover
{
    margin: 16px 0;
    height: 540px;
}

.description
{
    width: 50%;
    font-size: 20px;
    line-height: 28px;
}

.stream_btn
{
    margin: 16px;
    margin-bottom: 8px;
    width: 300px;
    height: 40px;
    border-radius: 2px;
    border: 4px;
    border-color: black;
    box-shadow: -5px 5px black;
    background: rgb(225, 110, 56);
    font-size: 24px;
    font-weight: bold;
    transition: all 0.2s linear;
}

.stream_btn:hover
{
    width: 330px;
    height: 44px;
    padding: 8px;
    margin: 14px;
    margin-bottom: 6px;
    transition: all 0.2s linear;
}

.spotify_link
{
    margin: 16px;
}

.footer
{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_icn
{
    margin: 16px;
    height: 40px;
}

@media only screen and (max-width: 750px) {
    
    .album_cover
    {
        width: 300px;
        height: 300px;
    }

    .logo
    {
        height: 80px;
    }

    #desktop_logo
    {
        display: none;
    }

    #mobile_logo
    {
        display: block;
    }

    .burger_container
    {
        left: 8px;
        position: absolute;
        margin-right: 16px;
    }

    .burger
    {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 44px;
      height: 34px;
      margin-right: 10px;
    }

    .burger div
    {    
        position:inherit;
        background: rgb(225, 110, 56);
        margin-left: 10%;
        width: 30px;
        height: 2px;
        margin-bottom: 1px;
        border-radius: 25px;
        transition: all .4s ease-out;
    }

    .content
    {
        width: calc(100% - 64px);
        padding: 32px;
    }

    h2
    {
        text-align: center;
    }

    .stream_btn
    {
        width: 200px;
    }

    .fixed
    {
        position: fixed;
    }

    .website_nav .nav_item
    {
        display: none;
    }

    .website_nav
    { 
        background-color: antiquewhite;
        opacity: 0;
        position: fixed;
        height: 80vh;
        padding-bottom: 10vh;
        top: 100px;
        margin: 0;
        background-color: white;    
        flex-direction: column; 
        justify-content: space-evenly;
        padding-inline-start: 0;
        width: 100vw;
        z-index: 5;
        font-size: 3.5vh;
        transition: all 0.3s ease-out;
    }

    .nav-active 
    {
        background-color: antiquewhite;
        opacity: 1;
        display: flex;
    }

    .nav-active .nav_item
    {display: block;

    }

    .description
    {
        width: 100%;
        padding: 0 10%;
        text-align: justify;
        text-justify: inter-word;
    }

    .toggle .line1
    {
        transform: rotate(135deg) translate(5px, -6px);
    }

    .toggle .line3
    {
        opacity: 0;
    }

    .toggle .line2
    {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}